@semiwhite: #ecf0f1;
@white: #fff;
@strip: #f9f9f9;
@green: #497a01;
@blue: #00a3d9;
@grey: #757575;
@noire: #333;

html{
  min-height: 100%;
  position: relative;
}
body{
  background: @semiwhite none repeat scroll 0 0;
  margin-bottom: 120px;
}
a{
  color: @white;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  -ms-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}
a:hover{
  text-decoration: none;
  color: @noire;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  padding: 15px 0;
  min-height: 50px;
}
.navbar-default {
  background: @blue none repeat scroll 0 0;
  border: 0 none;
}
#logo {
  display: block;
  font-size: 48px;
  font-weight: bold;
  height: 50px;
  margin: 0;
  max-width: 300px;
  padding: 0;
  text-decoration: none;
  h2 {
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
  }
}
.content {
  background: @semiwhite none repeat scroll 0 0;
  padding: 30px 0;
  .white-box {
    background: @white none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    margin: 0 0 10px;
    position: relative;
    .content-box-left {
      float: left;
      padding: 25px 0 0;
      position: relative;
      text-align: center;
      width: 90px;
      min-height: 132px;

      .square{
        border: 2px solid #fff;
        border-radius: 50%;
        display: inline-block;
        height: 45px;
        position: relative;
        vertical-align: middle;
        width: 45px;
      }

      .avatar{
        color: rgb(255, 255, 255);
        font-size: 180%;
        display: block;
        //border-radius: 45px;
        height: 45px;
        width: 45px;
        padding-top: 4px;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .content-box-middle, .content-box-middle2 {
      margin: 0 168px 0 0;
      padding: 1px 10px;

      h2 {
        color: #363838;
        font-size: 18px;
        margin: 20px 0 10px;
        text-transform: uppercase;
      }
      h3 {
        color: @grey;
        font-size: 14px;
        font-weight: normal;
        line-height: 19px;
        margin: 10px 0;
        min-height: 40px;
      }
      a {
        color: @green;
      }
      a:hover{
        text-decoration: none;
      }
    }
    .content-box-right{
      border-left: 1px solid #f1f1f1;
      height: 100%;
      padding: 15px 0 0 15px;
      position: absolute;
      right: 0;
      top: 0;
      width: 168px;

      h3{
        color: #888;
        font-size: 14px;
        margin: 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .topic-box{
    background: @white none repeat scroll 0 0;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 15px;

    .content-box-top {
      margin: 0 0 25px;

      .square {
        float: left;
        height: 75px;
        margin: 0 15px 0 0;
        text-align: center;
        width: 75px;

        .tavatar{
          color: @white;
          display: block;
          font-size: 230%;
          height: 60px;
          margin: 0 auto;
          padding-top: 5px;
          text-align: center;
          text-transform: uppercase;
          width: 60px;
        }
      }
    }
  }

  .post-box:nth-child(2n) {
    background: @strip none repeat scroll 0 0;
  }
  .post-box {
    background: @white none repeat scroll 0 0;
    border-bottom: 1px solid #ecf0f1;
    margin: 0;
    padding: 15px;
    position: relative;

    .content-box-left {
      float: left;
      margin: 0;
      text-align: center;
      width: 80px;

      .square {
        height: 60px;
        width: 60px;
        border: 2px solid #fff;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        vertical-align: middle;

        .tavatar{
          color: #fff;
          display: block;
          font-size: 230%;
          height: 60px;
          margin: 0 auto;
          padding-top: 5px;
          text-align: center;
          width: 60px;
          text-transform: uppercase;
        }
      }
    }
    .pinned-box {
      color: #888;
      margin: 15px 20px 0;
      padding: 0;

    }

    .content-box-md{
      margin-left: 80px;

      .meta-box {
        border-bottom: 1px solid #ecf0f1;
        margin-bottom: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

.mb {
  margin-bottom: 15px;
}
.mt {
  margin-top: 15px;
}

.footer {
  background: @blue none repeat scroll 0 0;
  bottom: 0;
  height: 100px;
  padding-top: 20px;
  position: absolute;
  width: 100%;
  .footer-box {
    margin: 0;

    h2 {
      color: @white;
      font-size: 14px;
      font-weight: normal;
      line-height: 25px;
      margin: 0;
      padding: 10px 0 0;
      small{
        color: @green;
      }
      //span {
      //  float: right;
      //}
    }

  }
}