html {
  min-height: 100%;
  position: relative;
}
body {
  background: #ecf0f1 none repeat scroll 0 0;
  margin-bottom: 120px;
}
a {
  color: #fff;
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  -ms-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
}
a:hover {
  text-decoration: none;
  color: #333;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  padding: 15px 0;
  min-height: 50px;
}
.navbar-default {
  background: #00a3d9 none repeat scroll 0 0;
  border: 0 none;
}
#logo {
  display: block;
  font-size: 48px;
  font-weight: bold;
  height: 50px;
  margin: 0;
  max-width: 300px;
  padding: 0;
  text-decoration: none;
}
#logo h2 {
  margin: 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
}
.content {
  background: #ecf0f1 none repeat scroll 0 0;
  padding: 30px 0;
}
.content .white-box {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  margin: 0 0 10px;
  position: relative;
}
.content .white-box .content-box-left {
  float: left;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  width: 90px;
  min-height: 132px;
}
.content .white-box .content-box-left .square {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 45px;
  position: relative;
  vertical-align: middle;
  width: 45px;
}
.content .white-box .content-box-left .avatar {
  color: #ffffff;
  font-size: 180%;
  display: block;
  height: 45px;
  width: 45px;
  padding-top: 4px;
  text-align: center;
  text-transform: uppercase;
}
.content .white-box .content-box-middle,
.content .white-box .content-box-middle2 {
  margin: 0 168px 0 0;
  padding: 1px 10px;
}
.content .white-box .content-box-middle h2,
.content .white-box .content-box-middle2 h2 {
  color: #363838;
  font-size: 18px;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
.content .white-box .content-box-middle h3,
.content .white-box .content-box-middle2 h3 {
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  margin: 10px 0;
  min-height: 40px;
}
.content .white-box .content-box-middle a,
.content .white-box .content-box-middle2 a {
  color: #497a01;
}
.content .white-box .content-box-middle a:hover,
.content .white-box .content-box-middle2 a:hover {
  text-decoration: none;
}
.content .white-box .content-box-right {
  border-left: 1px solid #f1f1f1;
  height: 100%;
  padding: 15px 0 0 15px;
  position: absolute;
  right: 0;
  top: 0;
  width: 168px;
}
.content .white-box .content-box-right h3 {
  color: #888;
  font-size: 14px;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content .topic-box {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px 3px 0 0;
  margin: 0;
  padding: 15px;
}
.content .topic-box .content-box-top {
  margin: 0 0 25px;
}
.content .topic-box .content-box-top .square {
  float: left;
  height: 75px;
  margin: 0 15px 0 0;
  text-align: center;
  width: 75px;
}
.content .topic-box .content-box-top .square .tavatar {
  color: #fff;
  display: block;
  font-size: 230%;
  height: 60px;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
}
.content .post-box:nth-child(2n) {
  background: #f9f9f9 none repeat scroll 0 0;
}
.content .post-box {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #ecf0f1;
  margin: 0;
  padding: 15px;
  position: relative;
}
.content .post-box .content-box-left {
  float: left;
  margin: 0;
  text-align: center;
  width: 80px;
}
.content .post-box .content-box-left .square {
  height: 60px;
  width: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.content .post-box .content-box-left .square .tavatar {
  color: #fff;
  display: block;
  font-size: 230%;
  height: 60px;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  width: 60px;
  text-transform: uppercase;
}
.content .post-box .pinned-box {
  color: #888;
  margin: 15px 20px 0;
  padding: 0;
}
.content .post-box .content-box-md {
  margin-left: 80px;
}
.content .post-box .content-box-md .meta-box {
  border-bottom: 1px solid #ecf0f1;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.mb {
  margin-bottom: 15px;
}
.mt {
  margin-top: 15px;
}
.footer {
  background: #00a3d9 none repeat scroll 0 0;
  bottom: 0;
  height: 100px;
  padding-top: 20px;
  position: absolute;
  width: 100%;
}
.footer .footer-box {
  margin: 0;
}
.footer .footer-box h2 {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
  margin: 0;
  padding: 10px 0 0;
}
.footer .footer-box h2 small {
  color: #497a01;
}
